*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --yellow: hsl(47, 88%, 63%);
}
body{
  background-color: var(--yellow);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
    width: 25%;
    height: 75%;
    padding: .8em;
    background-color: white;
    border-radius: .8em;
    border: 0.2px solid black;
    position: relative;
    z-index: 100;
    box-shadow: #000000 7px 7px 0 0;
}
.image1{
  width: 100%;
  border-radius:inherit;
}
.container h3{
  background-color: var(--yellow);
  width: max-content;
  padding-inline: .4em;
  padding-block: .1em;
  font-weight: bold;
  border-radius: .2em;
  font-size: .9rem;
  margin-top: 1em;
  font-family: kanit;
}
.container .para1{
  font-family: lato;
  font-size: 0.8rem;
  font-weight: 500;
  margin-block-start: .6em;
}
.container h1{
  font-family: "Apercu",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif, kanit;
  font-size: 1.4rem;
  margin-top: 0.4em;
}
.container .para2{
  color: grey;
  font-family: lato;
  font-size: .7rem;
  line-height: 1.5em;
  margin-block-start: .3em;
  word-spacing:1em;
  /* text-align: center; */
}
.image2{
  width: 12%;
  object-fit: cover;
}
.author p{
  font-weight: 900;
  font-family: lato;
  font-size: 0.8rem;
}
.author{
  display: flex;
  align-items: center;
  gap: 3.1%;
  margin-block-start: 1em;
}

